input[type='range'] {
  height: 24px;
  appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #ffffff;
  background: #e8e8e8;
  border-radius: 1px;
  border: 0px solid #ffffff;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #fcd34d;
  cursor: pointer;
  appearance: none;
  margin-top: -3px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #e8e8e8;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #ffffff;
  background: #e8e8e8;
  border-radius: 1px;
  border: 0px solid #ffffff;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #fcd34d;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #e8e8e8;
  border: 0px solid #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #ffffff;
}
input[type='range']::-ms-fill-upper {
  background: #e8e8e8;
  border: 0px solid #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #ffffff;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #fcd34d;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #e8e8e8;
}
input[type='range']:focus::-ms-fill-upper {
  background: #e8e8e8;
}
